<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}! {{locId}}
  </h1>
  <!-- <input id="location" name="location" placeholder="Please enter a location" [formControl]="searchTerm">
<ul>
  <li *ngFor="let loc of searchResult.result.locations.elements">{{ loc.name}}</li>
</ul> -->
<form class="location-selector example-form">
<mat-form-field class="example-full-width">
  <input type="text" placeholder="Select a location" matInput [formControl]="searchTerm" [matAutocomplete]="auto">


<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
  <mat-option  *ngFor="let loc of searchResult" [value]="loc">
    {{ loc.name }}, {{loc.county.name}}
  </mat-option>
</mat-autocomplete>
</mat-form-field>
<button mat-raised-button (click)="getProperties()">Go!</button>
</form>




<mat-grid-list cols="2" >
  <mat-grid-tile *ngFor="let prop of properties">
    <div>
      <h2>{{prop.agency.agency_name}}</h2>
      <p>{{prop.display_address}}</p>
      <p>{{prop.price}}</p>
    </div>

  </mat-grid-tile>
</mat-grid-list>
